
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>SCHOOL SUPPORT</h1>
    <p class="lead">To Submit Your Complaints. Click Here</p>
    <p><a href=" http://localhost:1564/Common/Ticket/Index" class="btn btn-primary btn-lg">Click Here &raquo;</a></p>
</div>

