@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

@*<div class="jumbotron" style="color:skyblue; background-color : slategrey">*@
<center>
    <h1>SCHOOL SUPPORT</h1>
    <br/>
    <p class="lead">To Submit Your Complaints. Click Here</p>
    <br/>
    <p><a href="http://localhost:1564/Common/Ticket/Index" class="btn btn-primary btn-lg">Click Here &raquo;</a></p>
</center>
@*</div>*@


